.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.bg {
    /* Set rules to fill background */
    min-height: 100%;
    min-width: 1024px;
    /* Set up proportionate scaling */
    width: 100%;
    height: auto;
    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.mid_win {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.modal {
    overflow: visible !important;
}

.col-md-5 {
    height: 400px;
    overflow: auto !important
}

.col-md-6 {
    height: 400px;
    overflow: auto !important
}

img.image {
    width: 100%;
    height: 400px;
}

.btn-margin {
    margin: 3px !important
}

.title-margin {
    margin: 10px !important;
    margin-top: 20px !important;
}

.nav-header {
    margin-bottom: 20px;
}

.form-padding {
    padding-bottom: 30px;
}

.img-view {
    max-width: 1300px;
    display: inline-block;
}

.card-same-text {
    height: 60px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-height: 20px;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.img-view {
    width: 100%;
}

.sticky-sidebar {
    height: 85%;
    position: relative;
}

.card-same-title {
    height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-height: 20px;
}

.card-same {
    padding-bottom: 5px;
}

.sticky-sidebar {
    padding-right: 0;
}

.to-left {
    text-align: left
}